/*---RESET---*/
ul{
    list-style: none;
    display: contents;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/*---MYSTYLE_BACKGROUND COLOR---*/
.ms_back-jeans{
    background-color: #2C3E50;
}

.ms_back-bluewater{
    background-color: #1ABC9C;
}

.ms_back-amaranth{
    background-color: #BA4B63;
}

.ms_back-ocean{
    background-color: #1EA4B6;
}

.ms_back-black{
    background-color: #140F0F;
}

.ms_back-sky{
    background-color: #1C83C1;
}

.ms_back-blue{
    background-color: #0E38B5;
}

.ms_back-desert{
    background-color: #CCB2A3;
}

.ms_back-denim{
    background-color: #3A546D;
}

/*---FC: FONT COLOR---*/

.fc_color-white{
    color: white;
}

/*---TS: TEXT STYLE---*/

.ts_uppercase{
    text-transform: uppercase;
}

/*---BR: BORDER RADIUS---*/

.br_round{

}

/*---MN: MIN HEIGHT*/

.mn-h500{
    min-height: 500px;
}

.mn-h300{
    min-height: 300px;
}

.mn-h150{
    min-height: 150px;
}

.mn-h100{
    min-height: 100px;
}

/*---MX: MAX HEIGHT*/

.mx_full-width{
    width: 100%;
}

.mx_w300{
    width: 300px;
}

.mx_w150{
    width: 150px;
}
/*---MN: MIN WIDTH*/

/*---LINES----*/

.light-star::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    border: 2px solid white;
    width: 75px;
    border-radius: 5px;
}

.light-star::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    border: 2px solid white;
    width: 75px;
    border-radius: 5px;
}

.dark-star::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    border: 2px solid black;
    width: 75px;
    border-radius: 5px;
}

.dark-star::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    border: 2px solid black;
    width: 75px;
    border-radius: 5px;
}

#title{
    font-size: 62px;
}

.round{
    border-radius: 15px;
}

.text{
    column-count: 2;
}

.download{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    padding: 8px 10px;
}

